body {
    padding: 0 20%;
}

header {
    text-align: center;
}

.nav {
    padding: 0;
    list-style: none;
    overflow: hidden;
    text-align: center;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}

.nav form {
    display: inline-block;
    padding: 10px;
}

footer {
    text-align: center;
}

.flashes {
    padding: 0;
    position: sticky;
    top: 0;
    width: 100%;
}

.flashes li {
    list-style: none;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 5px;
    padding: 3px;
    text-align: center;
}

.flashes .alert-danger {
    background: mistyrose;
}

.flashes .alert-success {
    background: lightgreen;
}

.internal_error {
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 5px;
    background: mistyrose;
}

.paginate {
    text-align: center;
}

.paginate li {
    padding-top: 10px;
    text-align: center;
    display: inline-block;
}
