html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}

.header {
    text-align: center;
}

.header a{
    color: black;
}

.header a:hover{
    color: black;
    text-decoration: none;
}

.footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    /* Set the fixed height of the footer here */
    width: 100%;
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

.articles {
    text-align: left;
}

.error-template {
    padding: 40px 15px;
    text-align: center;
}
.error-actions {
    margin-top:15px;
    margin-bottom:15px;
}
.error-actions .btn {
    margin-right:10px;
}
