{% extends "_main.jinja" %}

{% block title %} New Article {% endblock %}

{% block main %}

{% if article %}
<form action="{{ url_for("admin.edit_article", art_id=article.id) }}" method="post">
{% else %}
<form action="{{ url_for("admin.add_article") }}" method="post">
{% endif %}
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.title.label }}
        {{ form.title(class="form-control", placeholder="Article title") }}
    </div>
    <div class="form-group">
        {{ form.content.label }}
        {{ form.content() }}
    </div>
    <input type="submit" value="save">
</form>

{% endblock %}
