{% extends "_main.jinja" %}

{% block title %} New Article {% endblock %}

{% block head %}
    {{ super() }}

    <link rel="stylesheet" type="text/css" href={{url_for("static", filename="css/simplemde.min.css")}}>
    <script src={{url_for("static", filename="js/simplemde.min.js")}}></script>
    <script src={{url_for("static", filename="js/editor.js")}}></script>
{% endblock %}

{% block main %}

{% if article %}
<form action="{{ url_for("admin.edit_article", art_id=article.id) }}" method="post">
{% else %}
<form action="{{ url_for("admin.add_article") }}" method="post">
{% endif %}
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.title.label }}
        {{ form.title(class="form-control", placeholder="Article title") }}
    </div>
    <div class="form-group">
        {{ form.content.label }}
        {{ form.content() }}
    </div>
    {{ form.html_render() }}
    <input type="submit" value="save">
</form>

{% endblock %}
