{% extends "_main.jinja" %}

{% block title %} Login {% endblock %}

{% block main %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <form action="{{url_for("admin.change_password")}}", method=post>
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.old_password.label }}
                    {{ form.old_password(size=20, class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.new_password.label }} 
                    {{ form.new_password(class="form-control") }}
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div> {# col 6 #}
    </div> {# row #}
</div> {# container #}

{% endblock %}
