{% extends "_main.jinja" %}

{% block title %} Page not found! {% endblock %}

{% block main %}
    <div class="internal_error">
        <p>
        Ooops! Page was not found! If it should exists, please contact
        <a href="mailto:support@blabla.sk">support</a>
        </p>
    </div>
{% endblock %}

