{% extends "_main.jinja" %}

{% block title %} Error! {% endblock %}

{% block main %}
    <div class="internal_error">
        <p>
        Ooops! Error occured. Sorry, unknow error occured. Please contact
        <a href="mailto:support@blabla.sk">support</a>
        </p>
    </div>
{% endblock %}

