{% extends "_main.jinja" %}

{% block title %} Welcome to Markdown blog {% endblock %}


{% block main %}
<p class="lead"> Hi, I'm Severin Murcina, friends call me Murci. I am from slovakia and I am cool.  </p>
{% endblock %}
