{% extends "_main.jinja" %}

{% block title %} Welcome to Markdown blog {% endblock %}


{% block main %}
   <blockquote class="blockquote">
        <p class="mb-0">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <footer class=blockquote-footer> Someone famous </footer>
    </blockquote>
{% endblock %}
