<!doctype html>
<html lang="en">

<head>
    <title> {% block title %} {% endblock %} </title>
    <link rel="stylesheet" type="text/css" href={{url_for("static", filename="css/main.css")}}>
</head>

<body>
<header>
    <h1> <a href="{{ url_for("view_welcome_page") }}"> Severin Murcina </a></h1>
</header>

<nav>
    <ul class=nav>
      <li> <a href="{{ url_for("view_about") }}">About</a> </li>
      <li> <a href="{{ url_for("view_articles") }}">Articles</a> </li>
      <li> <a href="{{ url_for("view_admin") }}">Admin</a> </li>
    </ul>
</nav>

<main>
    {% block main %} {% endblock %}
</main>

<footer>
    <p>
        (c) 2018 Severín Murcina
    </p>
</footer>
</body>
</html>

