<!doctype html>
<html lang="en">

<head>
    <title> {% block title %} {% endblock %} </title>
    {% include "_head.jinja" %}
</head>

{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <ul class="flashes">
        {% for category, message in messages %}
            <li class="{{ category }}"> {{ message }} </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<body>
<header>
    <h1> <a href="{{ url_for("view_welcome_page") }}"> Severin Murcina </a></h1>
</header>

{% include "_nav.jinja" %}

<main>
    {% block main %} {% endblock %}
</main>

{% include "_footer.jinja" %}
</body>
</html>

