<nav>
    <ul class=nav>
      <li> <a href="{{ url_for("view_about") }}">About</a> </li>
      <li> <a href="{{ url_for("view_articles") }}">Articles</a> </li>
      <li> <a href="{{ url_for("view_admin") }}">Admin</a> </li>
    </ul>
</nav>
