{% extends "_main.jinja" %}

{% block title %} Welcome to Markdown blog {% endblock %}


{% block main %}
    Hi, I'm Severin Murcina, friends call me Murci. I am from slovakia and I am
    cool.
{% endblock %}
