{% extends "_main.jinja" %}

{% block title %} New Article {% endblock %}

{% block main %}

{% if article %}
<form action="{{ url_for("edit_article", art_id=article.id) }}" method="post">
{% else %}
<form action="{{ url_for("add_article") }}" method="post">
{% endif %}
    {{ form.csrf_token }}
    <p>
        {{ form.title.label }}
        {{ form.title() }}
    </p>
    <p>
        {{ form.content.label }}
        {{ form.content() }}
    </p>
    <input type="submit" value="save">
</form>

{% endblock %}
