{% extends "_main.jinja" %}

{% block title %} Articles {% endblock %}


{% block main %}
    {% if "logged" in session %}
        <a href="{{ url_for("view_add_article") }}">add new article</a>
    {% endif %}
    {% if articles %}
        <ul>
        {% for article in articles %}
            <li>
                <h2><a href="{{ url_for("view_article", art_id=article.id) }}"> {{ article.title }} </a></h2>
                <p> {{ article.content | truncate(100) }} </p>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p> No Articles :( </p>
    {% endif %}
{% endblock %}
