{% extends "_main.jinja" %}

{% block title %} Login {% endblock %}

{% block main %}

<form action="{{ url_for("change_password") }}" method="post">
    {{ form.csrf_token }}
    <p>
        {{ form.old_password.label }}
        {{ form.old_password() }}
    </p>
    <p>
        {{ form.new_password.label }}
        {{ form.new_password() }}
    </p>
    <input type="submit" value="change">
</form>

{% endblock %}
