<!doctype html>
<html lang="en">

<head>
    <title> Welcome to Markdown blog </title>
    <link rel="stylesheet" type="text/css" href={{url_for("static", filename="css/main.css")}}>
</head>

<body>
<header>
    <h1> Severin Murcina </h1>
</header>

<nav>
    <ul class=nav>
      <li> <a href="#">About</a> </li>
      <li> <a href="#">Articles</a> </li>
      <li> <a href="#">Admin</a> </li>
    </ul>
</nav>

<main>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  
</main>

<footer>
    <p>
        (c) 2018 Severín Murcina
    </p>
</footer>
</body>
</html>
